header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;

  .clipboard {
    display: flex;
    height: 56px;
    cursor: pointer;

    img {
      background-color: #835afd;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      padding: 8px;
    }

    .id-button {
      cursor: pointer;
      background-color: white;
      border: 1px solid rgba(131, 90, 253, 0.5);
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      width: 300px;
      font: 700 16px "Poppins";
    }
    .delete-room {
      cursor: pointer;
      margin-left: 32px;
      border: 2px solid #835afd;
      background-color: transparent;
      width: 200px;
      border-radius: 16px;
      font: 700 14px "Poppins";
      color: #835afd;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    }
  }
}

main {
  margin: 0 auto;
  width: 880px;

  .about {
    display: flex;
    margin: 32px 0 24px;
    strong {
      font: 700 32px "Poppins";
      letter-spacing: 2px;
    }

    div {
      background-color: #e559f9;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      border-radius: 9999px;
      margin-left: 32px;
      font: 500 14px "Poppins";
      color: #f8f8f8;
    }
  }
}
.all-questions {
  margin: 0 auto;
  width: 680px;

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .check-button {
      path {
        stroke: #835afd;
      }

      circle {
        stroke: #835afd;
      }
    }

    .delete-button {
      path {
        fill: #835afd;
      }
    }

    .like-button {
      display: flex;
      align-items: center;
      gap: 8px;

      path {
        fill: #835afd;
      }
    }
  }
}
