.question-card {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;

  margin-top: 100px;

  & + .question-card {
    margin-top: 100px;
  }

  .question-content {
    align-self: center;
    width: 100%;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;
    resize: vertical;
    min-height: 130px;
    font: 500 20px "Roboto";
  }

  .author-info {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    }
  }
}
